@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300&display=swap');

body {
	background-color: #222;
	color: #ddd;
	font-family: "Roboto Serif", mono;
	font-size: 150%;
	padding: 30px;
	padding-bottom: 100px;
}

a {color: #ccc; text-decoration: none;}
a:hover {color: #888;}

p {text-indent: 1em;}

h1 {
	text-align: center;
	font-size: 2em;
	position: relative;
	top: 10px;
}

#top, #bottom {
	position: fixed;
    left: 0;
    right: 0;
    margin: 0;
    overflow: hidden;
    background: #050505;
}

#top {top: 0;}
#bottom {bottom: 0;}

#top li, #bottom li {
    float: left;
    display: block;
    text-align: center;
    font-size: 1em;
	padding: 10px;
}
#bottom li {float: right;}
